

@foreach (var item in Model)
{
        <div class="swiper-wrapper">
            <div class="swiper-slide container">
                <img src="@item.Image" alt="">
                <div class="home-text">
                    <span>Marvel Universe</span>
                    <h1>@item.Name</h1>
                    <a href="#" class="btn">Book now</a>
                    <a href="#" class="play">
                        <i class='bx bx-play'></i>
                    </a>
                </div>
            </div>
        </div>
}
